<div id="rv-header-wrapper">
    <div class="header-inner-box">
        <a href="index.html" class="rv-logo-text">
            <span class="rv-red">Red</span><span class="rv-green">Vine</span>
        </a>

        <ul class="rv-nav-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="over-ons.html">Over ons</a></li>
            <li><a href="assortiment.html">Assortiment</a></li>
            <li><a href="duurzaamheid.html">Duurzaamheid</a></li>
            <li><a href="vacatures.html">Werken bij</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

        <div class="rv-lang-pill">🇳🇱 NL</div>
    </div>

    <div class="vine-container">
        <div id="vine-line-progress"></div>
        <div id="vine-tomato-mover">🍅</div>
    </div>
</div>